rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'adarsh6455@gmail.com' ||
        request.auth.token.email == 'akroy6455@gmail.com'
      );
    }
    
    match /ml_datasets/{datasetId} {
      allow create: if request.auth != null;
      allow read, update, delete: if isAdmin();
    }
    
    match /stats/{statId} {
      allow read, write: if isAdmin();
    }
    
    match /users/{userId} {
      allow read, write: if isAdmin();
    }

    match /blogs/{blogId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
